# Laravel & PHP
/vendor/
.phpunit.result.cache
.phpunit.cache/
.phpactor.json

# Environment Files
.env
.env.*
!.env.example

# Storage
/storage/*.key
/storage/pail/
storage/debugbar/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

# Public Build Files
/public/build/
/public/hot/
/public/storage/

# Node & Frontend
/node_modules/
/npm-debug.log
/yarn-error.log
/pnpm-debug.log

# IDE & Editor Configs
/.idea/
/.vscode/
/.fleet/
/.zed/
/nova/

# Homestead
Homestead.json
Homestead.yaml

# Auth & Misc
/auth.json

# Backup files
*.env.backup
